<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Parcial</title>
</head>
<body>
  <h1>Construcción App Empresariales</h1>
  <header th:replace="sub-templates/plantilla :: header"></header>

  <a th:href="@{/registrar}">Registrar Estudiante</a>
  <div th:if="${ estudiantes != null and !estudiantes.isEmpty() }">
      <table border="1">
          <tr>
              <th>Marca</th>
              <th>Modelo</th>
              <th>Color</th>
              <th>Año</th>
              <th>Tipo Auto</th>
              <th>Cilindraje</th>
              <th>Tipo Combustible</th>
              <th>Precio</th>
          </tr>
          <tr th:each="persona : ${estudiantes}">
              <td><a th:href="@{/editar/} + ${estudiante.id}" th:text="Editar"></a></td>
              <td><a th:href="@{/eliminar/} + ${estudiante.id}" th:text="Eliminar"></a></td>
          </tr>
      </table>
  </div>
  <div th:if="${ estudiantes == null or estudiantes.isEmpty() }">
    <h3>¡La lista está vacía!</h3>
  </div>
  <footer th:replace="sub-templates/plantilla :: footer"></footer>
</body>
</html>